h1 {
    color:green;
    text-align: center;
}

p {
 font-family: "Montserrat";
 text-align: center;
}
body {
    background-image: url("https://wallpaperbrowse.com/media/images/cool-background.jpg");
}
h2 {
    text-align: center;
}

}
button {
    text-align: center;
}